body {
    overflow: hidden;
    background-color: #2E2E2E;
}

.sunset {
    background-image: url('../imgs/sunset.jpg');
    background-size: cover;
    height: 100%;
    min-height: 100%;
}

.stars {
    background-image: url('../imgs/constellation.jpg');
    background-size: cover;
    height: 100%;
}

.satellites {
    background-image: url('../imgs/nightsatellites2.jpg');
    background-size: cover;
    background-position: bottom;
    height: 100%;
}

.content {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 21px;
    width: 600px;
    margin: auto;
    text-align: justify;
    height: auto;
    line-height: 30px;
}

.content.lower {
    margin: 100px auto;
}

.content p {
    background-color: rgba(46, 46, 46, 0.25);
    padding: 20px;
    text-shadow: 1px 2px 1px rgba(25, 25, 25, 0.6);
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: inherit;
    text-decoration: none;
    text-shadow: none;
    opacity: 1;
}

.glow:hover {
    text-shadow: 0 0 3px #B8E6B8, 0 0 5px #B2FFFF, 0 0 10px #E6FFE6 !important;
}

.content h1 {
    font-size: 72px;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    line-height: normal;
    text-shadow: 2px 3px 1px rgba(30, 30, 30, 0.5);
}

.content h2 {
    font-size: 60px;
    text-align: center;
    font-weight: 800;
    margin-top: 10px;
    line-height: normal;
    text-shadow: 2px 3px 1px rgba(30, 30, 30, 0.5);
}

.content h3 {
    font-size: 40px;
    text-align: center;
    font-weight: 800;
    line-height: 60px;
    text-shadow: 2px 3px 1px rgba(30, 30, 30, 0.5);
}

.june h3 {
    font-family: 'Fredericka the Great';
    padding: 70px;
    font-size: 50px;
}

.content h4 {
    font-size: 36px;
    text-align: center;
    font-weight: 800;
    text-shadow: 2px 3px 1px rgba(30, 30, 30, 0.5);
    line-height: 40px;
}

.header {
    text-align: center;
}

.extraWide {
    width: 800px;
}

.fadeIn {
    cursor: pointer;
}
/*vertical align*/

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.imgBox {
    margin: auto;
    padding: 1px;
    border-radius: 5px;
    background-image: url('../imgs/keyindoor.jpg');
    background-size: cover;
    height: 400px;
    box-shadow: 0px 0px 20px #1C1C1C;
    opacity: 0.6;
}

.imgBox:hover {
    box-shadow: none;
    border: 1px solid black;
    opacity: 1;
}

.bcg {
    background-size: cover;
    box-shadow: 0px 0px 20px #1C1C1C;
    border-radius: 5px;
}

.bcg p {
    background-color: rgba(46, 46, 46, 0.4);
    padding: 20px;
    margin: 30px auto;
}

.bcg h1 {
    padding: 20px;
}

.bcg#test {
    background-image: url('../imgs/desert.jpg');
    height: 650px;
    width: 900px;
}

.bcg#window {
    background-image: url('../imgs/window2.jpg');
    height: 650px;
    width: 900px;
}

.bcg#desertRoad {
    background-image: url('../imgs/desertroad-3.jpg');
    height: 650px;
    width: 900px;
}

.bcg#galaxy {
    background-image: url('../imgs/stars-spin.jpg');
    height: 650px;
    width: 900px;
}

.bcg#constellation {
    background-image: url('../imgs/nightsky3.jpg');
    height: 650px;
    width: 900px;
}

.bcg#nightRoad {
    background-image: url('../imgs/nightroad1.jpg');
    height: 650px;
    width: 900px;
}

.bcg#bed {
    height: 600px;
    background-image: url('../imgs/unmade_bed.jpg');
}

.bcg#milkyway {
    background-image: url('../imgs/nightsky.jpg');
    background-position: bottom;
    height: 700px;
    width: 900px;
}

.bcg#desert {
    background-image: url('../imgs/desert.jpg');
    height: 500px;
}

.bcg#radio {
    background-image: url('../imgs/radio-3.jpg');
    background-position: 0px -75px;
    height: 200px;
    width: 500px;
    z-index: 1000;
    opacity: 0.8;
    border: 3px solid;
}

.bcg#radio:hover {
    box-shadow: 0px 0px 120px rgba(255, 255, 153, 0.7);
    border: 1px solid;
    opacity: 1;
}

.bcg#nightsky {
    background-image: url('../imgs/nightdesert.jpg');
    background-position: top;
    height: 500px;
}

.transcript {
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 30px;
    margin: 25px auto;
    width: 85%;
    background-color: white;
    box-shadow: 5px 5px 0px 0px rgba(41, 40, 40, 0.8);
    font-family: monospace;
    text-shadow: none;
    color: black;
    font-size: 14px;
    line-height: normal;
}

.transcript p {
    text-shadow: none;
}

.transcript p {
    background-color: white;
    padding: 5px;
}

.letterpress {
    text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
    font-size: 60px;
    text-align: center;
    font-weight: 800;
    margin-top: 20%;
    font-family: 'Roboto Slab';
}

.charlieHead {
    font-size: 70px;
    text-shadow: 1px 1px 1px #4d4d4d;
    font-family: 'Nunito';
    font-weight: 700;
    letter-spacing: 15px;
    padding: 20px;
    color: #222;
}

.middle .charlieHead {
    margin-top: -50px;
/*    margin-bottom: -25px;*/
}

.whiteGlow {
    color: #FFF;
    text-shadow: 0 0 3px #B8E6B8, 0 0 5px #B2FFFF, 0 0 10px #E6FFE6;
    font-weight: 800;
}

.shadowed {
    color: rgba(230, 230, 230, 0.8);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9), 0px 0px 30px rgba(255, 255, 255, 0.7), 0px 0px 50px rgba(255, 255, 255 0.3), 0px 0px 180px rgba(255, 255, 255, 0.3);
}

#theBar {
    background-image: url('../imgs/airstream.jpg');
    height: 500px;
    background-position: center;
}

.preWrapper {
    z-index: -1;
}

.star {
    background-color: white;
    box-shadow: 0 0 3px #B8E6B8, 0 0 5px #B2FFFF, 0 0 10px #E6FFE6;
    height: 5px;
    width: 5px;
    margin: 10px;
    display: none;
    position: absolute;
}

.wrapper {
    width: 90%;
    height: 90%;
    position: absolute;
    z-index: -1;
}

.heavyShadow {
    text-shadow: 4px 4px 0px rgba(20, 20, 20, 0.8), 5px 5px 5px rgba(0, 0, 0, 0.6)
}
