body {
    overflow: hidden;
    background-color: #2E2E2E;
}

.sunset {
    background-image: url('../imgs/sunset.jpg');
    background-size: cover;
    height: 100%;
    min-height: 100%;
}

.nightRoad {
    background-image: url('../imgs/nightroad1.jpg');
    background-size: cover;
    height: 100%;
}

.content {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 21px;
    text-shadow: 2px 2px 1px rgba(54, 54, 54, 0.75);
    width: 600px;
    margin: auto;
    text-align: justify;
    height: auto;
    line-height: 30px;
}

.content.lower {
    margin: 100px auto;
}

.content p {
    background-color: rgba(46, 46, 46, 0.4);
    padding: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: grey;
    font-style: italic;
}

.content h1 {
    font-size: 72px;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    line-height: normal;
}

.content h2 {
    font-size: 60px;
    text-align: center;
    font-weight: 800;
    margin-top: 10px;
    line-height: normal;
}

.content h3 {
    font-size: 40px;
    text-align: center;
    font-weight: 800px;
    line-height: 60px;
}

.charlieHead {
    font-size: 70px;
    font-family: 'Nunito';
    font-weight: 700;
    letter-spacing: 15px;
    padding: 20px;
    color: rgba(76, 76, 76, 0.2);
    text-shadow: 1px 1px 1px rgba(240, 240, 240, 0.4), 0px -2px 1px rgba(108, 108, 108, 0.3);
}

.header {
    text-align: center;
}

.extraWide {
    width: 800px;
}

.fadeIn {
    cursor: pointer;
}
/*vertical align*/

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.imgBox {
    border: 1px solid grey;
    margin: auto;
    padding: 1px;
    background-image: url('../imgs/doorknob.jpg');
    background-size: cover;
    height: 400px;
}

.bcg-bed {
    background-image: url('../imgs/unmade_bed.jpg');
    background-size: cover;
    height: 600px;
}

.bcg-bed p {
    background-color: rgba(46, 46, 46, 0.4);
    padding: 20px;
    margin: 30px auto;
}