body {
    background-color: #FFFAD5;
}
/*--------------------HEADER--------------------*/

.header {
    margin: -30px auto;
    width: 80%;
    text-align: center;
    height: 75px;
}

.header h1 {
    text-decoration: none;
    font-size: 75px;
    font-family: 'Fredericka the Great';
    font-weight: 300;
    color: #FFFAD5;
    text-shadow: 2px 2px rgba(72, 72, 72, 0.6);
}

.black.header h1 {
    color: black;
}
/*--------------------COMIC PARENT TABLE--------------------*/

.comicContainer {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    width: 90%;
    min-width: 600px;
    display: block;
}

table.main {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-spacing: 5px;
    box-shadow: 5px 5px 0px 0px rgba(72, 72, 72, 0.8);
}

table.main.black {
    box-shadow: none;
}

table.main.black td {
    border: 10px solid black;
}

td {
    width: 400px;
    height: 500px;
    border: 10px solid white;
}

td p {
    width: 70%;
    margin: auto;
}

td h3 {
    text-align: center;
    font-size: 120px;
    color: white;
    font-family: 'Roboto Slab';
    text-shadow: 1px 2px 1px rgba(25, 25, 25, 0.6);
    padding: 0;
}

td a {
    text-decoration: underline;
    font-style: normal;
}

td a:hover {
    text-decoration: none;
    color: inherit;
    font-style: italic;
/*    text-shadow: 0 0 3px #B8E6B8, 0 0 5px #B2FFFF, 0 0 10px #E6FFE6;*/
}
/*--------------------INNER TABLE ELEMENTS------------------*/

.cellContainer {
    display: table;
    height: 100%;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.bottomRightAlign {
    position: absolute;
    bottom: 0;
    margin-left: 20%;
}
/*--------------------TEXT STYLING-------------------------*/

.june p {
    background-color: rgba(245, 219, 159, 0.9);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4e2304;
    color: #4e2304;
    margin: 10px auto;
    box-shadow: 2px 3px 0px 0px rgba(33, 28, 28, 0.75);
    font-family: 'Abel', monospace;
}

.charlie {
    font-family: 'Roboto Slab', serif;
    font-size: 21px;
    color: white;
    text-shadow: 2px 2px 1px rgba(54, 54, 54, 0.75);
    font-weight: 800;
}
/*--------------------BACKGROUNDS-------------------------*/

#desert {
    background-image: url('../imgs/desert.jpg');
    background-size: cover;
}

#satellites-2 {
    background-image: url('../imgs/desert_2.jpg');
    background-size: cover;
}

#sunset {
    background-image: url('../imgs/sunset.jpg');
    background-size: cover;
}

#tree {
    background-image: url('../imgs/joshuatree.jpg');
    background-size: cover;
}

#desertnight {
    background-image: url('../imgs/nightdesert.jpg');
    background-size: cover;
}

#constellation {
    background-image: url('../imgs/constellation.jpg');
    background-size: cover;
}

#airstream {
    background-image: url('../imgs/airstream.jpg');
    background-size: cover;
}

#airstream-2 {
    background-image: url('../imgs/airstream-1.jpg');
    background-size: cover;
}

#camper {
    background-image: url('../imgs/camper.jpg');
    background-size: cover;
}

#night {
    background-image: url('../imgs/CampingVan.jpg');
    background-size: cover;
    background-position: 16px -50px;
}

#paper {
    background-image: url('../imgs/paper2.jpg');
    background-size: cover;
    background-position: 0px -41px;
}

#insideBar {
    background-image: url('../imgs/bar2.jpg');
    background-size: cover;
}

#lights {
    background-image: url('../imgs/jukebox.jpg');
    background-size: cover;
    background-position: top;
}

#galaxy {
    background-image: url('../imgs/radio-2.jpg');
    background-size: cover;
}

#table {
    background-image: url('../imgs/table.jpg');
    background-size: cover;
}

#nightsky {
    background-image: url('../imgs/nightsky.jpg');
    background-size: cover;
    background-position: center;
}

#sunrise {
    background-image: url('../imgs/sunrise.jpg');
    background-size: cover;
}

#letters {
    background-image: url('../imgs/airmail3.jpg');
    background-size: cover;
    background-position: top;
}

#mountains {
    background-image: url('../imgs/mountains.jpg');
    background-size: cover;
}

.satellites-2 {
    background-image: url('../imgs/nightsatellites2.jpg');
    background-size: cover;
    background-position: center;
}

.satellites-3 {
    background-image: url('../imgs/satellite1.jpg');
    background-size: cover;
    background-position: right center;
}

.desert#one {
    background-image: url('../imgs/desert_2.jpg');
    background-size: cover;
}

.desert#two {
    background-image: url('../imgs/desert_3.JPG');
    background-size: cover;
}

.desert#three {
    background-image: url('../imgs/satellites5.jpg');
    background-size: cover;
    background-position: 0px -50px;
}
/*--------------------NAVIGATION----------------------*/

.slide {
    display: none;
}

.active-slide {
    display: block;
}

.naviContainer {
    margin: auto;
    width: 75%;
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.boxes {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
}

.boxes li {
    display: inline;
    font-size: 15px;
    margin-right: 5px;
    cursor: pointer;
}

.boxButton {
    margin: 5px;
    height: 20px;
    width: 20px;
    border: 5px solid #db9e36;
    display: inline-block;
    box-shadow: 5px 5px 0px 0px rgba(72, 72, 72, 0.8);
}

.black .boxButton {
    border: 5px solid #666666;
}

.boxButton:hover {
    border: 4px solid #BD4932;
}

.black .boxButton:hover {
    border: 4px solid white;
}

.active-dot .boxButton {
    border: 4px solid #105B63;
}

.black .active-dot .boxButton {
    border: 4px solid white;
}

.next {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    font-size: 36px;
    font-weight: 800;
    color: #BD4932;
    text-shadow: 1px 2px rgba(72, 72, 72, 0.8);
    text-decoration: underline;
}

.black.next {
    color: #666666;
}

.next:hover {
    color: #105B63;
    text-decoration: none;
}

.black.next a:hover {
    color: white;
    text-decoration: none;
}

.next a:hover {
    color: #105B63;
    font-style: normal;
    font-weight: 100;
}

.prev {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    font-size: 48px;
    font-weight: 800;
    color: #BD4932;
    text-shadow: 1px 2px rgba(72, 72, 72, 0.8);
}

.prev:hover {
    color: #105B63;
}

.black p {
    background-color: rgba(171, 171, 171, 0.7);
    color: #333333;
    border: 1px solid #333333;
    font-family: 'Roboto Slab';
}