/*thanks to http://codepen.io/lbebber/pen/ypgql*/

.glitch {
    color: white;
    font-size: 30px;
    position: relative;
    width: 700px;
    margin: 0 auto;
    height: auto;
    text-align: center;
    font-weight: 800;
}

@keyframes noise-anim {
    0% {
        clip: rect(71px, 9999px, 64px, 0);
    }
    5% {
        clip: rect(1px, 9999px, 38px, 0);
    }
    10% {
        clip: rect(61px, 9999px, 63px, 0);
    }
    15.0% {
        clip: rect(15px, 9999px, 74px, 0);
    }
    20% {
        clip: rect(22px, 9999px, 12px, 0);
    }
    25% {
        clip: rect(81px, 9999px, 90px, 0);
    }
    30.0% {
        clip: rect(33px, 9999px, 13px, 0);
    }
    35% {
        clip: rect(48px, 9999px, 3px, 0);
    }
    40% {
        clip: rect(81px, 9999px, 21px, 0);
    }
    45% {
        clip: rect(32px, 9999px, 25px, 0);
    }
    50% {
        clip: rect(96px, 9999px, 44px, 0);
    }
    55.0% {
        clip: rect(100px, 9999px, 91px, 0);
    }
    60.0% {
        clip: rect(77px, 9999px, 83px, 0);
    }
    65% {
        clip: rect(13px, 9999px, 83px, 0);
    }
    70% {
        clip: rect(8px, 9999px, 10px, 0);
    }
    75% {
        clip: rect(66px, 9999px, 71px, 0);
    }
    80% {
        clip: rect(83px, 9999px, 68px, 0);
    }
    85.0% {
        clip: rect(76px, 9999px, 83px, 0);
    }
    90% {
        clip: rect(60px, 9999px, 62px, 0);
    }
    95% {
        clip: rect(15px, 9999px, 54px, 0);
    }
    100% {
        clip: rect(94px, 9999px, 87px, 0);
    }
}

.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: #2E2E2E;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(50px, 9999px, 23px, 0);
    }
    5% {
        clip: rect(63px, 9999px, 77px, 0);
    }
    10% {
        clip: rect(62px, 9999px, 88px, 0);
    }
    15.0% {
        clip: rect(32px, 9999px, 65px, 0);
    }
    20% {
        clip: rect(78px, 9999px, 60px, 0);
    }
    25% {
        clip: rect(63px, 9999px, 54px, 0);
    }
    30.0% {
        clip: rect(10px, 9999px, 15px, 0);
    }
    35% {
        clip: rect(57px, 9999px, 22px, 0);
    }
    40% {
        clip: rect(4px, 9999px, 9px, 0);
    }
    45% {
        clip: rect(97px, 9999px, 28px, 0);
    }
    50% {
        clip: rect(20px, 9999px, 63px, 0);
    }
    55.0% {
        clip: rect(90px, 9999px, 16px, 0);
    }
    60.0% {
        clip: rect(33px, 9999px, 25px, 0);
    }
    65% {
        clip: rect(84px, 9999px, 59px, 0);
    }
    70% {
        clip: rect(84px, 9999px, 21px, 0);
    }
    75% {
        clip: rect(81px, 9999px, 63px, 0);
    }
    80% {
        clip: rect(19px, 9999px, 71px, 0);
    }
    85.0% {
        clip: rect(67px, 9999px, 92px, 0);
    }
    90% {
        clip: rect(99px, 9999px, 79px, 0);
    }
    95% {
        clip: rect(30px, 9999px, 76px, 0);
    }
    100% {
        clip: rect(32px, 9999px, 64px, 0);
    }
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: #2E2E2E;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}