body {
    font-family: monospace;
}

.imageBody {
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    padding: 0px;
}

.imageBody#sugar {
    background-image: url(../imgs/babygirl.jpg);
}

.imageTest {
    background-image: url(imgs/streetview.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#truck {
    background-image: url(imgs/frontseat.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

.content {
    width: 540px;
    margin: auto;
    padding-top: 50px;
    overflow-y: auto;
    text-align: justify;
}

.whiteText {
    color: white;
}

#rightSide {
    float: right;
    margin-top: 140px;
    width: 300px;
    position: relative;
}

.content#rightSide {
    float: right;
    margin-right: 5px;
    margin-top: 500px;
    width: 500px;
}

.pink {
    border: 2px dotted fuchsia;
    padding: 15px;
    border-radius: 5px;
    color: #CC0099;
    background-color: #FFD6FF;
    font-family: Times;
    font-size: 14px;
    margin-bottom: 15px;
    color: #CC0099;
    font-family: Times;
    font-size: 14px;
}

#extraWide {
    width: 700px;
    margin: auto;
    padding-top: 50px;
    overflow-y: visible;
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #97928A;
    font-weight: normal;
    font-style: italic;
}

.header {
    text-align: center;
}

.header h1 {
    font-family: 'Pacifico', monospace;
    text-decoration: none;
    font-size: 55px;
}

.header #caption {
    margin-top: -45px;
    font-weight: 800;
}

.header h2 {
    font-family: 'Special Elite', monospace;
    text-decoration: none;
    font-size: 50px;
}

.header p {
    font-style: italic;
    font-size: small;
}

h1 {
    text-decoration: underline;
    font-size: 50px;
}

table td {
    padding: 10px;
    width: 300px;
}

table td p:first-child {
    font-weight: bold;
    text-align: center;
}

table td p:nth-child(2) {
    font-style: italic;
    font-size: smaller;
}

#letter {
    background-color: #FCF4E6;
    border: 1px solid #E6B85C;
    border-radius: 10px;
    padding: 25px;
    margin-top: 50px;
    box-shadow: 3px 3px 10px 0px rgba(72, 72, 72, 0.8);
}

#letter #signature {
    text-align: right;
}

#oldLetter {
    background-color: #e6d5b6;
    border: 1px solid #E6B85C;
    border-radius: 10px;
    padding: 20px;
    margin-top: 100px;
    font-family: 'Permanent Marker';
    font-size: 1.5em;
}

#linkBox {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    width: 10%;
    margin: auto;
    background-color: #E6E6E6;
    margin-top: 20px;
    border-radius: 5px;
}

.transcript {
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 30px;
    margin: auto;
    width: 85%;
    background-color: white;
    box-shadow: 5px 5px 0px 0px rgba(41, 40, 40, 0.8);
}

.image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

.image.barn {
    opacity: 0.8;
    margin-left: -20px;
    display: inline-block;
    clear: both;
    position: fixed;
}

.bubble {
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    width: 250px;
    clear: both;
    margin-bottom: 10px;
}

.right.bubble {
    float: right;
}

.left.bubble {
    float: left;
}

.yellowTextGlow {
    text-shadow: 0 0 5px #FFFFA0, 0 0 10px #FFFF4D, 0 0 15px #FFFF41;
    color: white;
}

.yellowBox {
    border: 1px dotted #FFFF99;
    border-radius: 10px;
    margin: 20px 50px 50px 0px;
    padding: 10px;
    color: #FFFFCC;
}

.yellowBox.glow {
    box-shadow: 0px 0px 15px 5px;
}

#rightColumn {
    float: right;
    position: relative;
    width: 500px;
}

.ghostVoice {
    color: #C2C2C2;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    width: 40%;
    text-shadow: 0 0 5px #B8E6B8, 0 0 10px #B2FFFF, 0 0 15px #E6FFE6;
    opacity: 0.5;
}

.whiteGlow {
    color: #FFF;
    text-shadow: 0 0 3px #B8E6B8, 0 0 5px #B2FFFF, 0 0 10px #E6FFE6;
    font-weight: 800;
}

.whiteGlow a:hover {
    text-decoration: none;
    font-style: italic;
}

.whiteGlow a:hover {
    color: inherit;
    font-style: normal;
    text-decoration: underline;
    font-weight: inherit;
}

.pinkBox {
    border: 1px dotted pink;
    font-family: Times;
    padding: 0px 15px 0px 15px;
    margin: 30px 90px 30px 90px;
    color: pink;
}

.grayOnWhite {
    background-color: white;
    color: gray;
    border-radius: 5px;
}

.thoughts {
    background-color: white;
    color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    width: 70%;
    padding: 20px;
    margin-top: 20%;
    font-family: sans-serif;
    font-size: 11px;
    text-align: center;
    line-height: 2;
}

.autoMargin {
    margin-left: auto;
    margin-right: auto;
}

.transparentBkgd {
    display: block;
    position: relative;
    height: 800px;
    margin: 20px;
}

#wallpaper {
    margin-top: -60px;
}

#wallpaper p {
    padding: 5px;
}

.transparentBkgd::after {
    content: "";
    background-image: url(imgs/streetview.PNG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#peekaboo {
    display: none;
}

.blackBkgd {
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;
}

.blackBkgd .caption {
    color: white;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

.whiteBkgd {
    background: white;
}

#radioPlayer {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    width: 450px;
    padding: 40px 0px 0px 40px;
    position: relative;
    border: 1px solid black;
    background-image: url(imgs/dial.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.burnedLetter {
    background-image: url(imgs/paper.jpg);
    width: 800px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
}

.burnedLetter .content {
    padding-top: 250px;
    width: 500px;
    margin-left: 20px;
    color: #402020;
    position: relative;
}

.star {
    background-color: white;
    height: 5px;
    width: 5px;
    margin: 10px;
    display: none;
    position: absolute;
    z-index: 50;
    opacity: 0.6
}

.wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
}

#bottomLeft {
    text-align: left;
    font-style: italic;
    margin-top: 60px;
    float: left;
    clear: both;
    width: 250px;
}

#bottomRight {
    text-align: right;
    float: right;
    clear: both;
    margin-top: 5%;
}

.grayText {
    color: gray;
}

.ghostVoice#bottom {
    margin-top: 55%;
    position: absolute;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    text-align: center;
    font-size: 3.5em;
}

.handwriting {
    font-family: 'Homemade Apple';
    display: none;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
}

.lyrics {
    font-size: 14px;
    text-align: right;
    position: relative;
    z-index: 100;
    padding: 10px;
    opacity: 0.3;
    font-family: 'Homemade Apple';
    color: white;
}

.lyrics:hover {
    opacity: 1;
    font-family: 'Amatic SC';
    font-size: 25px;
}

.leftColumn {
    float: left;
    position: relative;
    display: block;
    width: 400px;
    margin: 20px;
    padding: 30px;
    z-index: 50;
}

#moon {
    display: none;
}

.star {
    background-color: white;
    height: 3px;
    width: 3px;
    margin-left: auto;
    margin-right: auto;
}

.hover {
    display: none;
}

#paper {
    font-size: 1.75em;
    font-family: 'Reenie Beanie';
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding: 6px 10px 4px 50px;
    position: relative;
    color: #444;
    line-height: 20px;
    border: 1px solid #d2d2d2;
    background: #fff;
    background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background-size: 100% 20px;
    border-radius: 3px;
}

#paper::before {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    left: 30px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #FCD5CC;
}

.innerRadio {
    position: relative;
    margin-top: 400px;
    margin-left: 270px;
}

.outerRadio {
    background-image: url(imgs/radio.jpg);
    border: 1px solid black;
    background-size: 800px 600px;
    height: 600px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 5%;
}

.leftButton {
    border-radius: 80px;
    height: 100px;
    width: 100px;
    margin-left: 110px;
    position: relative;
    margin-top: -150px;
}

.rightButton {
    border-radius: 80px;
    height: 105px;
    width: 100px;
    margin-left: 610px;
    position: relative;
    margin-top: -100px;
}

.leftButton:hover {
    box-shadow: 0px 0px 35px 5px rgba(255, 255, 190, .75);
}

.rightButton:hover {
    box-shadow: 0px 0px 35px 5px rgba(255, 255, 190, .75);
}

#moonText {
    color: white;
    height: auto;
    width: 410px;
    position: relative;
    margin-top: 150px;
    margin-left: 230px;
    padding: 10px;
    font-size: 16px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

#moonText a:hover {
    color: inherit;
    font-style: normal;
    text-decoration: underline;
}

.moonBackground {
    display: block;
    position: absolute;
    height: 800px;
    width: 800px;
    margin-left: 200px;
    margin-right: auto;
}

.moonBackground::after {
    content: "";
    background-image: url('../imgs/themoon.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 800px;
    background-position: top;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.santos {
    float: left;
    border: 1px dotted #FFFF99;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
    clear: both;
    margin-bottom: 10px;
    color: #FFFFCC;
}

.wrapperText {
    position: absolute;
    background-color: black;
    margin-top: 30%;
    z-index: 99;
    text-align: center;
    width: 500px;
    margin-left: 25%;
}

h2 {
    text-align: center;
    font-size: 3em;
    width: auto;
}

#clickMe {
    cursor: pointer;
}

.fadeIn {
    cursor: pointer;
}

h4 {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin: 20px 0px 20px 0px;
    font-style: italic;
}

.content #wallpaper {
    padding: 20px;
}

#lower {
    margin-top: -65px;
}

.whiteGlow.ghost {
    border-radius: 30px;
    padding: 10px;
    width: 40%;
    opacity: 0.6;
    text-align: center;
}

#lowerCenter {
    text-align: center;
    margin-top: 10%;
}

.grayBkgd {
    background-color: #B3B3B3;
}

.imageBody#nightSky {
    background-image: url(imgs/nightsky.jpg);
}

#soloBarn {
    margin-top: 20%;
}

#crossFadeIn {
    display: none;
}

#wolves {
    cursor: pointer;
}

.negativeSpace {
    color: rgba(128, 128, 128, 0.6);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.2);
    font-size: 4em;
    font-weight: 800;
}

.blackInset {
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.4);
}

.polaris {
    background-color: white;
    height: 5px;
    width: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    box-shadow: 0px 0px 15px 3px #B2FFFF;
}

.polaris:hover {
    box-shadow: 0px 0px 15px 3px #FFFF4D;
}

.emboss {
    font-weight: 800;
    color: rgba(34, 34, 34, 0.7);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
}

.facts {
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    color: rgba(170, 170, 170, 0.7);
    text-shadow: 2px 8px 6px rgba(102, 102, 102, 0.3), 0px -5px 20px rgba(212, 212, 212, 0.9);
}

#lowerContent {
    margin-top: 20%
}

h3 {
    text-align: center;
    font-weight: 800;
    font-size: xx-large;
}

.typeText {
    display: none;
}

.footer {
    color: white;
    opacity: 0.7;
    font-size: 10px;
    position: relative;
    width: 500px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}
/*neon tubing*/

.neontubing {
    display: none;
    padding: 6rem;
    text-align: center;
    color: rgba(249, 200, 255, 0.8);
    font-family: 'Comfortaa', serif;
    font-size: 11rem;
    letter-spacing: 0.1em;
    animation: neonspark 1s 3s forwards;
    -moz-animation: neonspark 1s 3s forwards;
    -webkit-animation: neonspark 1s 3s forwards;
}

.neontubing a:hover {
    color: inherit;
}

.neontubing span {
    animation: neonspark 4s 3s infinite;
    -moz-animation: neonspark 4s 3s infinite;
    -webkit-animation: neonspark 4s 3s infinite;
}

.neontubing h1 {
    text-decoration: none;
    font-weight: 800;
}

<!--flickering barsign keyframe animation--> @keyframes neonspark {
    0% {
        text-shadow: none;
    }
    30% {
        text-shadow: 0 0 30px rgba(255, 0, 84, 0.6);
    }
    60% {
        text-shadow: 0 0 30px rgba(255, 0, 84, 0.6), 0 0 60px rgba(255, 0, 84, 0.4);
    }
    80% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0 0 30px rgba(255, 0, 84, 0.6), 0 0 60px rgba(255, 0, 84, 0.4), 0 0 100px rgba(255, 0, 84, 0.2), 0 0 90px rgba(255, 0, 84, 0.8);
    }
}

@-webkit-keyframes neonspark {
    0% {
        text-shadow: none;
    }
    30% {
        text-shadow: 0 0 50px rgba(255, 0, 84, 0.6);
    }
    60% {
        text-shadow: 0 0 50px rgba(255, 0, 84, 0.6), 0 0 60px rgba(255, 0, 84, 0.4);
    }
    80% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0 0 30px rgba(255, 0, 84, 0.6), 0 0 60px rgba(255, 0, 84, 0.4), 0 0 100px rgba(255, 0, 84, 0.2), 0 0 90px rgba(255, 0, 84, 0.8);
    }
}

@-moz-keyframes neonspark {
    0% {
        text-shadow: none;
    }
    30% {
        text-shadow: 0 0 30px rgba(255, 0, 84, 0.6);
    }
    60% {
        text-shadow: 0 0 30px rgba(255, 0, 84, 0.6), 0 0 60px rgba(255, 0, 84, 0.4);
    }
    80% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0 0 30px rgba(255, 0, 84, 0.6), 0 0 60px rgba(255, 0, 84, 0.4), 0 0 100px rgba(255, 0, 84, 0.2), 0 0 90px rgba(255, 0, 84, 0.8);
    }
}

#candy:hover {
    font-style: italic;
}

#letter .section-1 {
    margin-top: 150px;
}
